@page
@model TestesEntity.Pages.Produtos.IndexModel

@{
    ViewData["Title"] = "Produto";
}

<h1>Produto</h1>

<p>
    <a asp-page="Create" class="btn btn-sm btn-primary">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto[0].grupo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto[0].nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto[0].especificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto[0].unidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto[0].preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto[0].quantidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Produto)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.grupo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.especificacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.unidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantidade)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.id" class="btn btn-sm btn-success">
                        <i class="bi-pencil"></i>
                    </a>
                    <a asp-page="./Details" asp-route-id="@item.id" class="btn btn-sm btn-primary">
                        <i class="bi-list"></i>
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.id" class="btn btn-sm btn-danger">
                        <i class="bi-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
